
@{
    ViewBag.Title = "Kasa";
}

@model List<Kasabanka.Models.Safe>

<style>
    /* Ensure all columns are left-aligned */
    #safeTable th,
    #safeTable td {
        text-align: left;
    }
</style>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Kasalar</h2>
    <button class="btn btn-primary" type="button" title="Yeni kasa eklemek için tıklayınız." onclick="OpenAddSafeModal()">Yeni Kasa Oluştur</button>
</div>

<table id="safeTable" class="table table-striped table-bordered display">
    <thead>
        <tr>
            <th>Kasa Kodu</th>
            <th>Kasa Adı</th>
            <th>TL (₺)</th>
            <th>USD ($)</th>
            <th>EUR (€)</th>
            <th>GBP (£)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="addSafeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Kasa Oluştur</h4>
            </div>
            <form id="addSafeForm">
                <div class="modal-body">
                    <label>Kasa Kodu</label>
                    <input class="form-control mb-2" name="safeCodeInput" id="safeCodeInput" placeholder="Kasa kodunu giriniz" required />
                    <label>Kasa Adı</label>
                    <input class="form-control mb-2" id="safeNameInput" placeholder="Kasa adını giriniz" required />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                    <button type="button" class="btn btn-default" onclick="CloseAddModal()">Vazgeç</button>
                </div>
            </form>

        </div>

    </div>
</div>

@section scripts {
    <script>
        var table;

        $(function () {
            InitializeTable();
        });

        function InitializeTable() {
            table = new DataTable('#safeTable', {
                ajax: {
                    url: '/Safe/GetSafes',
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/tr.json',
                },

                columns: [
                    { data: 'Code' },
                    { data: 'Name' },
                    {
                        data: null,
                        render: function (data, type, row) { return "0.00 ₺"; }
                    },
                    {
                        data: null,
                        render: function (data, type, row) { return "0.00 €"; }
                    },
                    {
                        data: null,
                        render: function (data, type, row) { return "0.00 $"; }
                    },
                    {
                        data: null,
                        render: function (data, type, row) { return "0.00 £"; }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            var deletebutton = `<button type="button" title="Kasayı silmek için tıkla." onclick="DeleteSafe(${row.Id})" class="m-1 btn btn-sm btn-danger">Sil</button>`;
                            var updatebutton = `<button type="button" title="Kasayı düzenlemek için tıkla." onclick="UpdateSafe(${row.Id})" class="m-1 btn btn-sm btn-info">Düzenle</button>`;
                            return updatebutton + deletebutton;
                        }
                    },
                ]
            });
        }


        function DeleteSafe(id) {
            alert(id);
        }

        function UpdateSafe(id) {
            alert(id);
        }

        function OpenAddSafeModal() {
            $("#safeNameInput").val("");
            $("#safeCodeInput").val("");
            $("#addSafeModal").modal("show");
        }

        function CloseAddModal() {
            $("#addSafeModal").modal("hide");
        }

        $("#addSafeForm").on("submit", function (event) {
            event.preventDefault();
            SaveNewSafe();
        });

        function SaveNewSafe() {
            var object = {
                Name: $("#safeNameInput").val(),
                Code: $("#safeCodeInput").val(),
            }

            $.ajax({
                type: "POST",
                url: "/Safe/CreateSafe",
                data: { safe: object },
                success: function (data) {
                    CloseAddModal();
                    if (data.Success) {
                        Swal.fire({
                            title: "Başarılı!",
                            text: data.Message,
                            icon: "success"
                        }).then((result) => {
                            table.ajax.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Uyarı!",
                            text: data.Message,
                            icon: "warning"
                        });
                    }
                },
                error: function () {
                    CloseAddModal();
                    Swal.fire({
                        title: "Hata!",
                        text: "Beklenmeyen bir hata oluştu.",
                        icon: "error"
                    });
                }
            });
        }

    </script>
}






