@{
    ViewBag.Title = "Ana Sayfa";
}

<main class=" d-flex flex-column flex-grow-1">
    <section class="row mt-5" aria-labelledby="projectTitle">
        <h1 id="projectTitle">KasaBanka'ya' Hoşgeldiniz</h1>
        <p class="lead mt-3">
            Bu proje, çeşitli finansal varlıkları yönetmek ve düzenlemek için kullanılan bir web uygulamasıdır. Kullanıcılar, kasalar, bankalar ve hesaplar gibi öğeleri ekleyebilir, güncelleyebilir, silebilir ve görüntüleyebilir. Ayrıca, döviz ve işlemler gibi verileri de yönetebilirsiniz.
        </p>
        <h6 class="mb-5 mt-2">
            Bu proje ile ilgili daha fazla bilgi edinmek için aşağıdaki bölümlere göz atabilirsiniz.
        </h6>
    </section>

    <div class="row gap-4">
        <section class="col" aria-labelledby="safeManagementTitle">
            <h2 id="safeManagementTitle">Kasa Yönetimi</h2>
            <p>
                Kasa ekleyebilir, güncelleyebilir ve silebilirsiniz. Kasalar, TL, USD, EUR ve GBP gibi farklı para birimlerini barındırabilir.
            </p>
            <p><a class="btn btn-outline-dark" href="/Safe" title="Kasa Yönetimine Git">Kasaları Yönet &raquo;</a></p>
        </section>
        <section class="col" aria-labelledby="bankManagementTitle">
            <h2 id="bankManagementTitle">Banka Yönetimi</h2>
            <p>
                Bankaları ve onlara ait detayları yönetebilirsiniz. Banka hesapları, bakiyeler ve daha fazlasını kontrol edebilirsiniz.
            </p>
            <p><a class="btn btn-outline-dark" href="/Bank" title="Banka Yönetimine Git">Bankaları Yönet &raquo;</a></p>
        </section>
        <section class="col" aria-labelledby="transactionManagementTitle">
            <h2 id="transactionManagementTitle">İşlem Yönetimi</h2>
            <p>
                Detaylı finansal işlemleri takip edebilirsiniz.
            </p>
            <p><a class="btn btn-outline-dark" href="/Transactions" title="İşlemlere Git">İşlemleri Listele &raquo;</a></p>
        </section>
    </div>
</main>
