
@{
    ViewBag.Title = "İşlemler";
}

@model List<Kasabanka.Models.Transaction>

<style>
    /* Ensure all columns are left-aligned */
    #transactionTable th,
    #transactionTable td {
        text-align: left;
    }
</style>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">İşlemler</h2>
    <button class="btn btn-warning px-3" type="button" title="Yeni işlem eklemek için tıklayınız." onclick="OpenAddModal()">Yeni İşlem Oluştur</button>
</div>

<div class="row mb-3 d-flex align-items-end">
    <div class="col-md-2">
        <label for="filterSafeOrBank">Banka / Kasa</label>
        <select id="filterSafeOrBank" class="form-control">
            <option value="">Tümü</option>
            <option value="Banka">Banka</option>
            <option value="Kasa">Kasa</option>
        </select>
    </div>

    <div class="col-md-2">
        <label id="filterSafeOrBankLabel" for="filterSafeOrBankSelection">Banka / Kasa Seçiniz</label>
        <select id="filterSafeOrBankSelection" class="form-control">
            <option value="">Tümü</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="filterType">İşlem Türü</label>
        <select id="filterType" class="form-control">
            <option value="">Tümü</option>
            <option value="Gelen Havale">Gelen Havale</option>
            <option value="Giden Havale">Giden Havale</option>
            <option value="Nakit Tahsilat">Nakit Tahsilat</option>
            <option value="Nakit Ödeme">Nakit Ödeme</option>
        </select>
    </div>

    <div class="col-md-1">
        <label for="filterCurrency">Para Birimi</label>
        <select id="filterCurrency" class="form-control">
            <option value="">Tümü</option>
            <option value="TL">TL (₺)</option>
            <option value="USD">USD ($)</option>
            <option value="EUR">EUR (€)</option>
            <option value="GBP">GBP (£)</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="startDate">Başlangıç Tarihi</label>
        <input type="date" id="startDate" class="form-control">
    </div>

    <div class="col-md-2">
        <label for="endDate">Bitiş Tarihi</label>
        <input type="date" id="endDate" class="form-control">
    </div>

    <div class="col-md-1">
        <button class="btn btn-info px-3" onclick="filterTable()">Filtrele</button>
    </div>
</div>




<table id="transactionTable" class="table table-striped table-bordered display">
    <thead>
        <tr>
            <th>İşlem Türü</th>
            <th>İşlem No</th>
            <th>Açıklama</th>
            <th>Para Birimi</th>
            <th>Para Miktarı</th>
            <th>Banka / Kasa</th>
            <th>İşlem Tarihi</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="addTransactionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni İşlem Oluştur</h4>
            </div>
            <form id="addTransactionForm">
                <div class="modal-body">
                    <label>İşlem Türü</label>
                    <select id="transactionTypeDropdown" class="form-control mb-2" required>
                        <option value="">Seçiniz</option>
                        <option value="Gelen Havale">Gelen Havale</option>
                        <option value="Giden Havale">Giden Havale</option>
                        <option value="Nakit Tahsilat">Nakit Tahsilat</option>
                        <option value="Nakit Ödeme">Nakit Ödeme</option>
                    </select>
                    <label>İşlem Numarası</label>
                    <input class="form-control mb-2" name="transactionNoInput" id="transactionNoInput" placeholder="İşlem numarasını giriniz" required />
                    <label>Açıklama</label>
                    <input class="form-control mb-2" name="transactionDescriptionInput" id="transactionDescriptionInput" placeholder="Açıklama giriniz" required />
                    <label>Para Birimi</label>
                    <select id="transactionCurrencyDropdown" class="form-control mb-2" required>
                        <option value="">Seçiniz</option>
                        <option value="TL">TL (₺)</option>
                        <option value="USD">USD ($)</option>
                        <option value="EUR">EUR (€)</option>
                        <option value="GBP">GBP (£)</option>
                    </select>
                    <label>Para Miktarı</label>
                    <input class="form-control mb-2" name="transactionAmountInput" id="transactionAmountInput" placeholder="Para miktarını giriniz" required />
                    <label id="bankOrSafeLabel" style="display: none;">Banka veya Kasa</label>
                    <select id="transactionSafeOrBankDropdown" style="display: none;" class="form-control mb-2" required>
                        <option value="">Seçiniz</option>
                        <option value="Banka">Banka</option>
                        <option value="Kasa">Kasa</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                    <button type="button" class="btn btn-default" onclick="CloseAddModal()">Vazgeç</button>
                </div>
            </form>

        </div>

    </div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">İşlem Silinecektir Onaylıyor Musunuz?</h4>
            </div>
            <form id="deleteTransactionForm">
                <div class="modal-body">
                    <input type="hidden" id="transactionIdDeleteInput" />
                    <button type="submit" class="btn btn-danger">Evet</button>
                    <button type="button" class="btn btn-outline-dark" onclick="CloseDeleteModal()">Hayır</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {

    <script>
        var table;

        $(function () {
            InitializeTable();

            $("#filterSafeOrBank").change(function () {
                var selectedValue = $(this).val();
                var secondDropdown = $("#filterSafeOrBankSelection");
                var label = $("#filterSafeOrBankLabel");

                // Clear previous options
                secondDropdown.empty();
                secondDropdown.append('<option value="">Tümü</option>');

                // Update label and fetch data accordingly
                if (selectedValue === "Banka") {
                    label.text("Banka Seçiniz");
                    fetchBanks();
                } else if (selectedValue === "Kasa") {
                    label.text("Kasa Seçiniz");
                    fetchSafes();
                } else {
                    label.text("Banka / Kasa Seçiniz");
                }
            });
        });


        function fetchBanks() {
            $.ajax({
                type: "GET",
                url: "/Bank/GetBanks",
                success: function (data) {
                    var secondDropdown = $("#filterSafeOrBankSelection");
                    $.each(data.data, function (index, bank) {
                        secondDropdown.append('<option value="' + bank.Code + '">' + bank.Code + " - " + bank.Name + '</option>');
                    });
                },
                error: function () {
                    console.error("Error fetching banks");
                }
            });
        }

        function fetchSafes() {
            $.ajax({
                type: "GET",
                url: "/Safe/GetSafes",
                success: function (data) {
                    var secondDropdown = $("#filterSafeOrBankSelection");
                    $.each(data.data, function (index, safe) {
                        secondDropdown.append('<option value="' + safe.Code + '">' + safe.Code + " - " + safe.Name + '</option>');
                    });
                },
                error: function () {
                    console.error("Error fetching safes");
                }
            });
        }

        function formatJsonDate(jsonDate) {
            var date = new Date(Number(jsonDate.match(/\d+/)[0]));
            // Format the date to a human-readable format
            const options = {
                day: '2-digit',
                month: 'long',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                hour12: false // Use 24-hour format
            };

            return date.toLocaleString('tr-TR', options); // Turkish locale
        }


        function InitializeTable() {
            table = new DataTable('#transactionTable', {
                processing: true,
                serverSide: false, // Tüm veriler tek seferde gelecek
                ajax: {
                    url: '/Transactions/GetTransactions',
                    type: 'GET',
                    error: function (xhr, error, thrown) {
                        console.error('DataTables error:', error, thrown);
                    }
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/tr.json',
                },
                columns: [
                    { data: 'Type' },
                    { data: 'No' },
                    { data: 'Description' },
                    { data: 'Currency' },
                    {
                        data: 'Amount',
                        render: function (data) {
                            if (!data) return "-";
                            const amount = parseFloat(data);
                            return amount.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                        }
                    },
                    { data: 'SafeOrBank' },
                    {
                        data: 'Date',
                        render: function (data) {
                            return formatJsonDate(data);
                        }
                    },
                    {
                        data: null,
                        className: "text-center",
                        render: function (data, type, row) {
                            return `<button type="button" title="İşlemi silmek için tıkla." onclick="OpenDeleteModal(${row.Id})" class="m-1 btn btn-sm px-3 btn-danger">Sil</button>`;
                        }
                    }

                ],
                order: [[6, 'desc']], // Tarihe göre sıralama
                responsive: true,
                pageLength: 25
            });
        }

        function filterTable() {
            var safeOrBank = $("#filterSafeOrBank").val();
            var safeOrBankSelection = $("#filterSafeOrBankSelection").val();
            var type = $("#filterType").val();
            var currency = $("#filterCurrency").val();
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();

            table.ajax.url('/Transactions/GetTransactions?' +
                'safeOrBank=' + encodeURIComponent(safeOrBank) +
                '&safeOrBankSelection=' + encodeURIComponent(safeOrBankSelection) +
                '&type=' + encodeURIComponent(type) +
                '&currency=' + encodeURIComponent(currency) +
                '&startDate=' + encodeURIComponent(startDate) +
                '&endDate=' + encodeURIComponent(endDate)
            ).load();
        }



        $("#transactionTypeDropdown").change(function () {
            var selectedType = $(this).val();
            var safeOrBankDropdown = $("#transactionSafeOrBankDropdown");
            var bankOrSafeLabel = $("#bankOrSafeLabel");


            safeOrBankDropdown.empty();


            if (selectedType === "Gelen Havale" || selectedType === "Giden Havale") {
                bankOrSafeLabel.text("Banka Seçiniz").show(); // Show label
                populateBankDropdown();
            } else if (selectedType === "Nakit Tahsilat" || selectedType === "Nakit Ödeme") {
                bankOrSafeLabel.text("Kasa Seçiniz").show(); // Show label
                populateSafeDropdown();
            } else {
                bankOrSafeLabel.hide();
                safeOrBankDropdown.hide();
            }
            safeOrBankDropdown.prepend('<option value="">Seçiniz</option>');
        });


        function populateBankDropdown() {
            $.ajax({
                type: "GET",
                url: "/Bank/GetBanks",
                success: function (data) {
                    var safeOrBankDropdown = $("#transactionSafeOrBankDropdown");
                    safeOrBankDropdown.empty();
                    safeOrBankDropdown.append('<option value="">Seçiniz</option>');


                    $.each(data.data, function (index, bank) {
                        safeOrBankDropdown.append('<option value="' + bank.Code + ' - ' + bank.Name + '">' + bank.Code + " - " + bank.Name + '</option>');
                    });

                    safeOrBankDropdown.show();
                },
                error: function () {
                    console.error("Error fetching banks");
                }
            });
        }

        function OpenDeleteModal(id) {
            if (!id) {
                Swal.fire({
                    title: "Hata!",
                    text: "İşlem ID'si bulunamadı.",
                    icon: "error"
                });
                return;
            }

            $.ajax({
                type: "GET",
                url: "/Transactions/GetTransactionById",
                data: { id: id },
                success: function (response) {
                    console.warn("Response:", response); // Debug log

                    if (response.Success && response.Data) {
                        $("#transactionIdDeleteInput").val(response.Data.Id);
                        $("#deleteModal").modal("show");
                    } else {
                        Swal.fire({
                            title: "Hata!",
                            text: response.Message || "İşlem bilgisi alınamadı.",
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.warn("Error:", { xhr, status, error }); // Debug log
                    Swal.fire({
                        title: "Hata!",
                        text: "Beklenmeyen bir hata oluştu.",
                        icon: "error"
                    });
                }
            });
        }

        function CloseDeleteModal() {
            $("#deleteModal").modal("hide");
        }

        $("#deleteTransactionForm").on("submit", function (event) {
            event.preventDefault();
            console.warn("HERE: " + $("#transactionIdDeleteInput").val());
            DeleteTransaction($("#transactionIdDeleteInput").val());
        });

        function DeleteTransaction(id) {
            console.warn("ID is: " + parseInt(id));
            $.ajax({
                type: "POST",
                url: "/Transactions/DeleteTransaction",
                data: { id: parseInt(id) },
                success: function (data) {
                    CloseDeleteModal();
                    if (data.Success) {
                        Swal.fire({
                            title: "Başarılı!",
                            text: data.Message,
                            icon: "success"
                        }).then((result) => {
                            table.ajax.reload(null, false);
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Uyarı!",
                            text: data.Message,
                            icon: "warning"
                        });
                    }
                },
                error: function (e) {
                    console.warn(e);
                    CloseDeleteModal();
                    Swal.fire({
                        title: "Hata!",
                        text: "Beklenmeyen bir hata oluştu.",
                        icon: "error"
                    });
                }
            });
        }

        function populateSafeDropdown() {
            $.ajax({
                type: "GET",
                url: "/Safe/GetSafes",
                success: function (data) {
                    var safeOrBankDropdown = $("#transactionSafeOrBankDropdown");
                    safeOrBankDropdown.empty();
                    safeOrBankDropdown.append('<option value="">Seçiniz</option>');

                    $.each(data.data, function (index, safe) {
                        safeOrBankDropdown.append('<option value="' + safe.Code + ' - ' + safe.Name + '">' + safe.Code + " - " + safe.Name + '</option>');
                    });

                    safeOrBankDropdown.show();
                },
                error: function () {
                    console.error("Error fetching banks");
                }
            });
        }

        function OpenAddModal() {
            $("#transactionTypeDropdown").val("");
            $("#transactionNoInput").val("");
            $("#transactionDescriptionInput").val("");
            $("#transactionCurrencyDropdown").val("");
            $("#transactionAmountInput").val("");
            $("#transactionSafeOrBankDropdown").val("");
            $("#addTransactionModal").modal("show");
        }

        function CloseAddModal() {
            $("#addTransactionModal").modal("hide");
        }

        $("#addTransactionForm").on("submit", function (event) {
            event.preventDefault();
            SaveNewTransaction(transactionAmountInput);
        });

        $("#transactionAmountInput").change(function () {
            var amount = $(this).val();

            if (amount.includes(",")) {
                amount = amount.replace(",", ".");
            }
            var formattedAmount = parseFloat(amount);
            if (!isNaN(formattedAmount)) {
                $(this).val(formattedAmount.toFixed(2));
            }
        });


        function SaveNewTransaction() {
            var selectedType = $("#transactionTypeDropdown").val();
            var amount = parseFloat($("#transactionAmountInput").val());

            // İşlem türüne göre miktar işareti belirleme
            if (selectedType === "Giden Havale" || selectedType === "Nakit Ödeme") {
                amount = -Math.abs(amount);
            } else {
                amount = Math.abs(amount);
            }

            var safeOrBankValue = $("#transactionSafeOrBankDropdown").val();
            var isBank = selectedType === "Gelen Havale" || selectedType === "Giden Havale";

            var object = {
                Type: selectedType,
                No: $("#transactionNoInput").val(),
                Description: $("#transactionDescriptionInput").val(),
                Currency: $("#transactionCurrencyDropdown").val(),
                Amount: amount.toString(),
                SafeOrBank: safeOrBankValue,
                IsBank: isBank,
                Date: new Date().toISOString()
            };

            $.ajax({
                type: "POST",
                url: "/Transactions/CreateTransaction",
                data: object,
                success: function (data) {
                    CloseAddModal();
                    if (data.Success) {
                        Swal.fire({
                            title: "Başarılı!",
                            text: data.Message,
                            icon: "success"
                        }).then((result) => {
                            table.ajax.reload();
                        });
                    } else {
                        Swal.fire({
                            title: "Uyarı!",
                            text: data.Message,
                            icon: "warning"
                        });
                    }
                },
                error: function () {
                    CloseAddModal();
                    Swal.fire({
                        title: "Hata!",
                        text: "Beklenmeyen bir hata oluştu.",
                        icon: "error"
                    });
                }
            });
        }
    </script>
}